<h2>{{ title }}</h2>
<div class="giallo">
    ISBN:
    <input type="text" id="txtisbn" required [(ngModel)]="newBook.ISBN" nome=newBook.ISBN value='Inserisci isbn...'>
    TITOLO:
    <input type="text" id="txttitolo"  required [(ngModel)]="newBook.title" nome=newBook.title value='Inserisci titolo..'>
    AUTORE:
    <input type="text" id="txtautore" required [(ngModel)]="newBook.author" nome="newBook.author" value='Inserisci autore...'>
    <button (click)="addThisBook()">Aggiungi alla lista</button>
</div>




<!--//<input type="text" id="txtTitolo"
	       required [(ngModel)]="model.titolo" name="titolo"> -->